@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ebebeb6f;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/ProximaNova-Regular.otf") format("opentype");
  font-weight: 400; 
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/ProximaNova-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
